# 1. Cargando Archivo con datos

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
#lectura de datos en Python
train = pd.read_csv('./../data/train2.csv', encoding='latin-1')

In [29]:
train.head()

,ï»¿ref_area.label,indicator.label,source.label,classif1.label,classif2.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label
0,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,8.929,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,6.197,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
2,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,1.023,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
3,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,19.163,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
4,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0.657,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...

## 2. Explorando datos

In [30]:
# que columnas tienen los datos?
train.columns

Index(['ï»¿ref_area.label', 'indicator.label', 'source.label',
       'classif1.label', 'classif2.label', 'time', 'obs_value',
       'obs_status.label', 'note_classif.label', 'note_indicator.label',
       'note_source.label'],
      dtype='object')

In [31]:
# qué tamaño tienen los datos?
train.shape

(400, 11)

In [32]:
# hay valores nulos en los datos?
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ï»¿ref_area.label     400 non-null    object
 1   indicator.label       400 non-null    object
 2   source.label          400 non-null    object
 3   classif1.label        400 non-null    object
 4   classif2.label        400 non-null    object
 5   time                  400 non-null    int64
 6   obs_value             369 non-null    float64
 7   obs_status.label      150 non-null    object
 8   note_classif.label    0 non-null      float64
 9   note_indicator.label  86 non-null     object
 10  note_source.label     400 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 34.5+ KB

In [33]:
# como se distribuyen las variables numéricas
train.describe()

              time   obs_value  note_classif.label
count   400.000000  369.000000                 0.0
mean   2018.547500   48.751602                 NaN
std       1.102626  117.841797                 NaN
min    2017.000000    0.049000                 NaN
25%    2018.000000    2.120000                 NaN
50%    2019.000000    8.834000                 NaN
75%    2020.000000   24.187000                 NaN
max    2020.000000  720.445000                 NaN

In [34]:
# como se comportan las variables categóricas
train.describe(include=['O'])

,ï»¿ref_area.label,indicator.label,source.label,classif1.label,classif2.label,obs_status.label,note_indicator.label,note_source.label
count,400,400,400,400,400,150,86,400
unique,7,1,8,3,6,2,2,3
top,Brazil,Employment by age and economic activity - ISIC...,HS - Pesquisa Nacional por Amostra de DomicÃ­l...,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",Break in series,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
freq,72,400,72,138,69,80,70,331

In [35]:
#CANTIDAD DE DATOS NULOS POR COLUMNA
train.isnull().sum()

ï»¿ref_area.label         0
indicator.label           0
source.label              0
classif1.label            0
classif2.label            0
time                      0
obs_value                31
obs_status.label        250
note_classif.label      400
note_indicator.label    314
note_source.label         0
dtype: int64

In [36]:
#traemos las cilumnas para cambiarlas
train.columns

Index(['ï»¿ref_area.label', 'indicator.label', 'source.label',
       'classif1.label', 'classif2.label', 'time', 'obs_value',
       'obs_status.label', 'note_classif.label', 'note_indicator.label',
       'note_source.label'],
      dtype='object')

In [37]:
#asignamos nombres en las columnas
train.columns = ['Pais', 'Indicador', 'Fuente', 'Edad', 'Actividad_Economica',
       'Anio', 'Cantidad', 'Obs2', 'Filtro', 'Obs3', 'Obs4']
train.columns

Index(['Pais', 'Indicador', 'Fuente', 'Edad', 'Actividad_Economica', 'Anio',
       'Cantidad', 'Obs2', 'Filtro', 'Obs3', 'Obs4'],
      dtype='object')

In [38]:
#traemos los datos
train

,Pais,Indicador,Fuente,Edad,Actividad_Economica,Anio,Cantidad,Obs2,Filtro,Obs3,Obs4
0,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,8.929,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
1,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,6.197,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
2,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,1.023,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
3,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,19.163,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
4,Bolivia,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Empleo,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0.657,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...,...,...,...
395,Uruguay,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,16.905,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
396,Uruguay,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,8.063,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
397,Uruguay,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,8.710,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
398,Uruguay,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,2.207,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
399,Uruguay,Employment by age and economic activity - ISIC...,LFS - Encuesta Continua de Hogares,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,6.288,Break in series,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...

In [39]:
train = train.drop(columns=['Indicador', 'Fuente', 'Obs2', 'Obs3', 'Obs4' ])
train = train[train['Cantidad'].notna()]
train.columns

Index(['Pais', 'Edad', 'Actividad_Economica', 'Anio', 'Cantidad', 'Filtro'], dtype='object')

In [40]:
train

,Pais,Edad,Actividad_Economica,Anio,Cantidad,Filtro
0,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,8.929,NaN
1,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,6.197,NaN
2,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,1.023,NaN
3,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,19.163,NaN
4,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0.657,NaN
...,...,...,...,...,...,...
395,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,16.905,NaN
396,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,8.063,NaN
397,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,8.710,NaN
398,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,2.207,NaN
399,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,6.288,NaN

In [41]:
train=train.fillna({'Filtro':0})

In [42]:
train

,Pais,Edad,Actividad_Economica,Anio,Cantidad,Filtro
0,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,8.929,0.0
1,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,6.197,0.0
2,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,1.023,0.0
3,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,19.163,0.0
4,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0.657,0.0
...,...,...,...,...,...,...
395,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,16.905,0.0
396,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,8.063,0.0
397,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,8.710,0.0
398,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,2.207,0.0
399,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,6.288,0.0

In [43]:
#volvemos a verificar nulos
train.isnull().sum()

Pais                   0
Edad                   0
Actividad_Economica    0
Anio                   0
Cantidad               0
Filtro                 0
dtype: int64

In [44]:
conda install -c conda-forge textblob

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [45]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jampe\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [46]:
from textblob.classifiers import NaiveBayesClassifier

with open('data_entrenada.json', 'r') as fp: 
    clear=NaiveBayesClassifier(fp, format="json")  

i=0
for f in range(train.shape[0]):
    try:
        estado = clear.classify(train.Actividad_Economica[f]) 
        if (estado =="1"):      
            i = i + 1           
            train.Filtro[f]=1         

    except:
        Exception
print(i)
train=train[train["Filtro"]>0]

C:\Users\jampe\AppData\Local\Temp/ipykernel_11188/3751156945.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Filtro[f]=1

60

In [47]:
train=train.sort_values("Actividad_Economica",False)
train

C:\Users\jampe\AppData\Local\Temp/ipykernel_11188/2803268381.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_values except for the argument 'by' will be keyword-only
  train=train.sort_values("Actividad_Economica",False)

,Pais,Edad,Actividad_Economica,Anio,Cantidad,Filtro
1,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,6.197,1.0
202,Ecuador,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,10.768,1.0
208,Ecuador,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,10.117,1.0
218,Ecuador,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,9.178,1.0
224,Guyana,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,0.139,1.0
230,Guyana,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,0.049,1.0
234,Guyana,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,0.090,1.0
240,Guyana,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,0.202,1.0
246,Guyana,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,0.074,1.0
251,Guyana,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,0.128,1.0
257,Peru,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,20.767,1.0
263,Peru,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,1.494,1.0
269,Peru,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,19.274,1.0
198,Ecuador,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,0.721,1.0
275,Peru,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,36.144,1.0
287,Peru,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,29.744,1.0
293,Peru,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,29.895,1.0
299,Peru,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,3.202,1.0
305,Peru,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,26.692,1.0
311,Peru,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,26.135,1.0
317,Peru,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,8.765,1.0
323,Peru,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,17.370,1.0
329,Uruguay,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,14.718,1.0
335,Uruguay,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,1.984,1.0
341,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,12.734,1.0
347,Uruguay,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,15.894,1.0
353,Uruguay,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,2.293,1.0
281,Peru,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,6.401,1.0
192,Ecuador,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,11.489,1.0
186,Ecuador,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,12.299,1.0
180,Ecuador,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,0.797,1.0
7,Bolivia,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0.392,1.0
13,Bolivia,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,5.805,1.0
19,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,4.760,1.0
29,Bolivia,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,4.608,1.0
35,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,5.132,1.0
45,Bolivia,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,4.718,1.0
51,Bolivia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,8.432,1.0
60,Bolivia,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,8.432,1.0
66,Brazil,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,571.303,1.0
72,Brazil,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,91.206,1.0
78,Brazil,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,480.097,1.0
84,Brazil,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,590.120,1.0
90,Brazil,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,87.927,1.0
96,Brazil,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,502.194,1.0
102,Brazil,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,649.051,1.0
108,Brazil,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,107.754,1.0
114,Brazil,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,541.297,1.0
120,Brazil,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,720.445,1.0
126,Brazil,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,128.391,1.0
132,Brazil,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,592.054,1.0
138,Colombia,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,104.567,1.0
144,Colombia,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,15.867,1.0
150,Colombia,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2020,88.701,1.0
156,Ecuador,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,12.442,1.0
162,Ecuador,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,0.613,1.0
168,Ecuador,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2017,11.829,1.0
174,Ecuador,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,13.096,1.0
359,Uruguay,"Age (Youth, adults): 25+","Economic activity (ISIC-Rev.4), 2 digit level:...",2018,13.601,1.0
365,Uruguay,"Age (Youth, adults): 15+","Economic activity (ISIC-Rev.4), 2 digit level:...",2019,16.132,1.0

Ahora tenemos la tabla preprocesada lista

In [48]:
train.to_csv('data_filtrada.csv', index=False) ##se exporta el dataframe a un csv